<p id="notice"><%= notice %></p>

<section id="quote">
  <div class="container">
    <header class="text-center mb-60">
      <h1>Interventions</h1>
    </header>
    <div class="interventionz">
    
      <!-- div class="row" -->

        <!-- FORM -->
        <!-- div class="col-md-8 col-sm-8" -->

    <!--%= form_with(model: @interventions, remote: true) do |f| %-->
    <%= form_for @intervention.to_s, method: :post, remote: true do |f| %>
    <!-- %= form_for Intervention.new, method: :post, remote: true do |f| % -->
    

      <% if !@interventions.nil?  %>
        <!-- %= collection_select(:customers, :customer, Customer.all, :id, :company_name, options = {include_blank: "Please select a source..."}, html_options = {:onchange => "showSelectedValue(this.value)"}) %-->
        <!-- %= f.collection_select % -->
        </br></br>
        <fieldset id="fieldsetId">
          <%= f.collection_select(:col_select, Customer.all, :id, :company_name, options = {include_blank: "Please select a source..."}, html_options = {:onchange => "showSelectedValue(this.value)"}) %>

    

        </fieldset>
      </br></br>
      
      <!-- %= link_to 'Submit', intervention % -->
      <% end %>

      <%= submit_tag "Submit", id:"submit", class:"btn btn-primary" %>
    <% end %>
  </tbody>
</table>

        </div>
      <!-- /div -->
      <!-- /div -->

  </div>
</section>

<br>
<%= javascript_include_tag 'building_selector' %>
<!-- script></script -->
<%= link_to 'New Intervention', new_intervention_path %>
