<p id="notice"><%= notice %></p>

<section id="quote">
  <div class="container">
    <header class="text-center mb-60">
      <h1>Interventions</h1>
    </header>
    <!-- div class="interventionz" -->
    
      <!-- div class="row" -->

        <!-- FORM -->
        <!-- div class="col-md-8 col-sm-8" -->

    <%= form_for @intervention.to_s, method: :post, remote: true do |f| %>
      <%= hidden_field_tag 'authenticity_token', form_authenticity_token %>
    <!-- %= form_for Intervention.new, method: :post, remote: true do |f| % -->
      <% if !@interventions.nil?  %>
        
       
        <!-- 1 -->
        <%= f.label :building_id_label, 'Customers' %>
        <fieldset id="fieldsetId">
        <div class="row">
          <div class="col-md-10 col-sm-10">
            <%= f.collection_select(:customer_id, Customer.all, :id, :company_name, options = {include_blank: "Please select a source..."}, html_options = {:onchange => "showSelectedValue(this.value)"})  %>

          
          </div>
        </div>
        
        <!-- 2 -->
        <div class="row">
          <div id="buildings_id1" class="col-md-10 col-sm-10" hidden="">
            <%= f.label :building_id_label, 'Building' %>
            <br><br>
            <%= f.collection_select(:building_id, Building.all, :id, :full_name_of_the_building_administrator, options = {include_blank: "Please select a source..."}) %> 
          </div>
        </div>

        <!-- 3 -->
        <div class="row">
          <div id="batteries_id1" class="col-md-10 col-sm-10" hidden="">
            <%= f.label :battery_id_label, 'Battery' %>
            <br><br>
            <%= f.collection_select(:battery_id, Battery.all, :id, :id, options = {include_blank: "Please select a source..."}) %> 
          </div>
        </div>

        <!-- 4 -->
        <div class="row">
          <div id="columns_id1" class="col-md-10 col-sm-10" hidden="">
            <%= f.label :column_id_label, 'Column' %>
            <br><br>
            <%= f.collection_select(:column_id, Column.all, :id, :id, options = {include_blank: "Please select a source..."}) %> 
          </div>
        </div>

        <!-- 5 -->
        <div class="row">
          <div id="elevators_id1" class="col-md-10 col-sm-10" hidden="">
            <%= f.label :elevator_id_label, 'Elevator' %>
            <br><br>
            <%= f.collection_select(:elevator_id, Elevator.all, :id, :id, options = {include_blank: "Please select a source..."}) %> 
          </div>
        </div>


        <!-- 6 -->
        <div class="row">
          <div id="ficts_id1" class="col-md-10 col-sm-10" hidden="">
            <%= f.label :fictionnal_id_label, 'Fictionnal' %>
            <br><br>
            <%= f.collection_select(:fictionnal_id, Elevator.all, :id, :id, options = {include_blank: "Please select a source..."}) %> 
          </div>
        </div>

        <!-- 7 -->
        <div class="row">
          <div id="employees_id1" class="col-md-10 col-sm-10">
            <%= f.label :employee_id_label, 'Employee' %>
            <br><br>
            <%= f.collection_select(:employee_id, Employee.all, :id, :id, options = {include_blank: "Please select a source..."}) %> 
          </div>
        </div>

        
        <div class="row">
          <div id="description_id1" class="col-md-8 col-sm-8">
            <%= f.label :description_label, 'Description of the intervention' %>
            <!-- input id="report" class="form-control" type="text" -->
            <!-- %= f.input id="report" class="form-control" type="text" %-->
            <%= f.text_field :report %>
          </div>
        </div>


        </fieldset>
        <br><br>
      
      <% end %>
      <%= submit_tag "Submit", id:"submit", class:"btn btn-primary" %>
    <% end %>


    <!-- /div -->
      <!-- /div -->
      <!-- /div -->

  </div>
</section>

<script>
/*
  $('#col_select').change(function() {
      console.log("VALUE ON CHANGE = ", this.value);
      $('#buildings_id1').show();
    });

  $('#col_select').on("change").function() {

    $('#buildings_id').show();
    console.log("showSelectedValue");

    $.ajax({
      dataType: 'json',
      url: "/get_buildings/" + source,
      data: data,
      success: function(data, status){
          console.log("source = ", source);
          console.log(data);
          console.log("data[0]['full_name_of_the_building_administrator'] = ", data[0]['full_name_of_the_building_administrator']);
*/
/*
          var $el = $("#col_select");
            //$el.empty(); // remove old options
            //$.each(data, function(key, ) {
            //$el.append($("<option></option>").attr("value", data[0].full_name_of_the_building_administrator).text(key));
            $el.append($("<option></option>"));
            $('#col_select').html
          //});


      }});
  }
  */
</script>

<%= javascript_include_tag 'building_selector' %>
<%= link_to 'New Intervention', new_intervention_path %>
