<p id="notice"><%= notice %></p>

<p>
  <strong>Author:</strong>
  <%= @intervention.author %>
</p>

<p>
  <strong>Customerid:</strong>
  <%= @intervention.customerId %>
</p>

<p>
  <strong>Buildingid:</strong>
  <%= @intervention.buildingId %>
</p>

<p>
  <strong>Batteryid:</strong>
  <%= @intervention.batteryId %>
</p>

<p>
  <strong>Columnid:</strong>
  <%= @intervention.columnId %>
</p>

<p>
  <strong>Elevatorid:</strong>
  <%= @intervention.elevatorId %>
</p>

<p>
  <strong>Employeeid:</strong>
  <%= @intervention.employeeId %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @intervention.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @intervention.end_date %>
</p>

<p>
  <strong>Result:</strong>
  <%= @intervention.result %>
</p>

<p>
  <strong>Report:</strong>
  <%= @intervention.report %>
</p>

<p>
  <strong>Status:</strong>
  <%= @intervention.status %>
</p>

<%= link_to 'Edit', edit_intervention_path(@intervention) %> |
<%= link_to 'Back', interventions_path %>
